{% extends "layout.html" %}
{% block body %}
  <h2>Create a new team</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('add_team') }}" method=post class=add-team>
    <dl>
      <dt>Title:
      <dd><input type=text size=30 name=title value="{{ title }}">
      <dt>Text:
      <dd><textarea name=description rows=5 cols=40 placeholder="Describe this team...">{{ description }}</textarea>
      <dd><input type=submit value=Share>
    </dl>
  </form>
{% endblock %}